.git/
.github/
docker/
src/

# from .gitignore
api/
.env
.login
trackmania_stats.js
trackmania_test.js
migrate.js
games/trackmania-zones.json
dump/
replays/
scripts/backup.json
edge/
cps/
research/
competitions.json
logs/
*.pem

node_modules/
coverage/
build/
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock

.vscode/
log/
docker-compose.yml
entrypoint.sh
